{% if row.status == constant('\\App\\Entity\\Servizio::STATUS_SCHEDULED') %}
  {% if not row.isActive %}
    {{ 'servizio.statutes.schedule_expired' | trans }}
  {% endif %}
  <small class="d-block">{{ 'from' | trans }} {{ row.scheduledFrom|format_datetime('medium', 'short', locale=app.request.locale) }}</small>
  <small class="d-block">{{ 'to' | trans }} {{ row.scheduledTo|format_datetime('medium', 'short', locale=app.request.locale) }}</small>
{% else %}
  {{ ('servizio.statutes.'~row.statusName)|trans }}
{% endif %}
