{{ 'email.pratica.user_group.dear' | trans({}, null, locale) | striptags}}

{{ view_model.praticaStatusMessage | striptags }}

{% if (pratica.servizio.isProtocolRequired and pratica.status >= 3000) or (not pratica.servizio.isProtocolRequired and pratica.status > 1900) %}
{{ 'email.pratica.user_group.link_txt' | trans({ '%pratica_detail_url%': absolute_url(path('operatori_show_pratica', {'pratica': pratica}))}, null, locale) }}
{% endif %}

{% if pratica.id %}
{{    'pratica.numero' | trans({}, null, locale) }}: {{ pratica.id }}
{% endif %}
{% if pratica.submissionTime %}
{{    'pratica.data_di_presentazione' | trans({}, null, locale) }}: {{ pratica.submissionTime | format_datetime('medium', 'medium', locale=locale) }}
{% endif %}
{% if pratica.submissionTime and pratica.servizio.maxResponseTime %}
{{ 'pratica.max_response_date' | trans({}, null, locale) }}: {{ 'now' | date_modify('+' ~ (pratica.remainingResponseTime) ~ 'days') | format_date( locale=locale) }}
{% endif %}
