{% extends 'Emails/Meeting/user/_base.html.twig' %}

{% block content %}
    {{ include('Emails/Meeting/user/parts/approved_meeting_changes.html.twig', {'meeting_event': meeting_event ? meeting_event : 'approved'}) }}
{% endblock %}
