{% extends 'Emails/Meeting/user/_base.html.twig' %}

{% block content %}
  <p>
    {% if meeting.status == constant('STATUS_PENDING', meeting) %}
      {{ 'meetings.email.new_meeting.pending' | trans({}, null, meeting.locale) | raw }}
    {% elseif meeting.status == constant('STATUS_APPROVED', meeting) %}
      {{ 'meetings.email.new_meeting.approved' | trans({
        'hour': meeting.fromTime |format_time(pattern='HH:mm', locale=meeting.locale),
        'date': meeting.fromTime|format_datetime('medium', 'none', locale=meeting.locale),
        'location': meeting.calendar.location
      }, null, meeting.locale) | raw }}
    {% endif %}
  </p>
{% endblock %}
