<div class="row">
  {% if pratica is defined and pratica.servizio.customTemplate and pratica.servizio.customTemplate.header %}
    <div class="col-12">
      {{ pratica.servizio.customTemplate.header|raw }}
    </div>
  {% elseif ente.customTemplate and ente.customTemplate.header %}
    <div class="col-12">
      {{ ente.customTemplate.header|raw }}
    </div>
  {% else %}
    <div class="col-12 text-center">
      <img class="logo" src="{{ logo }}" alt="{{ enteName }}"/>
      <h2 class="ente">{{ enteName }}</h2>
    </div>
  {% endif %}
</div>
