<div class="dropdown dropdown-actions">
  <button class="btn btn-link btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <svg class="icon-expand icon align-middle icon-primary"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-more-actions"></use></svg>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <div class="link-list-wrapper">
      <ul class="link-list">
        <li>
          <a class="list-item" href="{{ path('admin_operatore_edit', { 'id': row.id }) }}">
            <span class="text-primary text-nowrap"><i class="fa fa-pencil fa-lg"></i> {{ 'modifica'|trans }}</span>
          </a>
        </li>
        <li>
          <a class="list-item" href="{{ path('security_reset_operator_password', { 'user': row.id }) }}">
            <span class="text-primary text-nowrap"><i class="fa fa-key" aria-hidden="true"></i>{{ 'security.password_reset'|trans }}</span>
          </a>
        </li>
        <li>
          <a class="list-item" href="{{ path('admin_toggle_manager', { 'id': row.id }) }}">
            <span class="text-primary text-nowrap"><i class="fa fa-retweet" aria-hidden="true"></i>{% if row.manager %}{{ 'operatori.turns_in_operator'|trans }}{% else %}{{ 'operatori.turns_in_manager'|trans }}{% endif %}</span>
          </a>
        </li>
        <li>
          <a class="list-item" onclick="return confirm('{{ 'general.alert_elimina'|trans }}');" href="{{ path('admin_operatore_delete', { 'id': row.id }) }}">
            <span class="text-danger text-nowrap"><i class="fa fa-trash-o fa-lg"></i> {{ 'elimina'|trans }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
