{% if type == 'send_applcation' %}
{{ 'protocollo.pec.email.abstract.send_applcation'|trans({'%name%' : pratica.servizio.name})|striptags }}
{% elseif type == 'send_integration' %}
{{ 'protocollo.pec.email.abstract.send_integration'|trans({'%name%' : pratica.id})|striptags }}
{% else %}
{{ 'protocollo.pec.email.abstract.send_result'|trans({'%name%' : pratica.id})|striptags }}
{% endif %}
{{ 'servizio.id_pratica' | trans }}: {{ pratica.id }}</td>
{{ 'pratica.data_di_presentazione' | trans }}: {{ pratica.submissionTime|format_date( locale=pratica.locale) }}
{{ 'pratica.presentante' | trans }}: {{ pratica.user.getFullName }}
