{% if is_granted('ROLE_OPERATORE') %}
  {% set urlFile = path('allegati_download_operatore', {'allegato': attachment}) %}
{% else %}
  {% set urlFile = path('allegati_download_cpsuser', {'allegato': attachment.id}) %}
{% endif %}

{% if attachment.file.extension == 'jpg' or attachment.file.extension == 'jpeg' or attachment.file.extension == 'png' %}
  <li>
    <div class="list-item">
        <div class="it-thumb cursor-pointer it-thumb-container position-relative">
          <img class="icon icon-lg zoom" src="/bootstrap-italia/dist/assets/upload-drag-drop-icon.svg" data-zoom="{{ urlFile }}"  alt="{{ attachment.originalFilename }}"/>
{#   TODO: preview image
       <div class="overlay">
            <svg class="icon">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-zoom-in"></use>
            </svg>
          </div>#}
        </div>
      <div class="it-right-zone"><span class="text">{{ attachment.originalFilename }}</span>
        <a aria-label="download" href="{{ urlFile }}" download="">
          <span class="metadata">
            <svg class="icon">
                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
              </svg>
          </span>
        </a>
      </div>
    </div>
  </li>
{% else %}
  <li>
    <div class="list-item">
      <div class="it-rounded-icon">
        <svg class="icon">
          <use href="/bootstrap-italia/dist/svg/sprite.svg#it-file"></use>
        </svg>
      </div>
      <div class="it-right-zone"><span class="text">{{ attachment.originalFilename }}</span>
        <a aria-label="download" href="{{ urlFile }}" download="">
          <span class="metadata">
            <svg class="icon">
              <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </li>
{% endif %}
