{% if canDelete %}
  <button class="btn  btn-sm btn-danger" data-toggle="modal" data-target="#confirm-delete-modal-{{ id }}">
    <i class="fa fa-trash"></i> <span class="d-none d-lg-inline-block"> {{ 'elimina' | trans }}</span>
  </button>
  {{ include('Calendars/table/_modal_delete.html.twig', {'id': id, 'title': title, 'futureMeetings': futureMeetings}) }}
{% else %}
  <button data-toggle="tooltip" title="{{ 'calendars.cant_delete_tooltip' | trans({'%owner%': owner}) }}" class="btn  btn-sm btn-primary disabled">
    <i class="fa fa-trash"></i> <span class="d-none d-lg-inline-block"> {{ 'elimina' | trans }}</span>
  </button>
{% endif %}
