{% extends 'Default/index.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
{% endblock %}
{% block main_content %}

  <section class="container">
    <div class="row">
      <div class="col-lg-8 px-lg-4 py-lg-2">
        <h3>{{ payment.name }}</h3>
        <div class="clearfix">
          <p>{{ payment.description }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container py-5">
    <div class="row">
      <div class="col-12 px-lg-4 py-lg-2 my-5">
        <div class="row p-3">
          <div class="col-10 text-truncate">
              <svg class="icon mr-4">
                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-card"></use>
              </svg>
            {{ payment.name }}
          </div>
          <div class="col-2">
            <div class="float-right">
              <a id="downloadDocument"
                 href="{{ path('payment_certificate_download_cpsuser', {"subscriptionId": payment.subscription.id, "subscriptionPaymentId": payment.id }) }}"
                 download>
                <svg class="icon icon-primary">
                  <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <table id="payment_table" class="table border-bottom">
          <tr>
            <td><strong>{{ 'iscrizioni.pagamento.beneficiario' | trans }}</strong></td>
            <td>{{ payment.subscription.subscriber.completeName }}</td>
          </tr>
          <tr>
            <td><strong>{{ 'iscrizioni.pagamento.cf_beneficiario' | trans }}</strong></td>
            <td>{{ payment.subscription.subscriber.fiscalCode }}</td>
          </tr>
          <tr>
            <td><strong>{{ 'iscrizioni.pagamento.importo' | trans }}</strong></td>
            <td><code>{{ payment.amount }} €</code></td>
          </tr>
          <tr>
            <td><strong>{{ 'iscrizioni.pagamento.data_esecuzione' | trans }}</strong></td>
            <td>{{ payment.paymentDate | format_date( locale=app.request.locale) }}</td>
          </tr>
          <tr>
            <td><strong>{{ 'iscrizioni.pagamento.riferimento_pratica' | trans }}</strong></td>
            <td><code>{{ payment.externalKey }}</code></td>
          </tr>
        </table>
      </div>
    </div>
  </section>
{% endblock %}

