{% extends 'Default/backend.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('subscription-service-manager') }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css" integrity="sha512-PT0RvABaDhDQugEbpNMwgYBCnGCiTZMh9yOzUsJHDgl/dMhD9yjHAwoumnUk3JydV3QTcIkNDuN40CJxik5+WQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha512-0S+nbAYis87iX26mmj/+fWt1MmaKCv80H+Mbo+Ne7ES4I6rxswpfnC6PxmLiw33Ywj2ghbtTw0FkLbMWqh4F7Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('subscription-service-manager') }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js" integrity="sha512-OQlawZneA7zzfI6B1n1tjUuo3C5mtYuAWpQdg+iI9mkDoo7iFzTqnQHf+K5ThOWNJ9AbXL4+ZDwH7ykySPQc+A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" integrity="sha512-oaT4uVdyleJGVHZqklOx2Bb8WhOTBW3iCXRtgk3+YutYmFx0jSs97UR3/+r1vh1Isyb3GOGjFonLbS6LFiiEVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/1.6.1/js/dataTables.buttons.min.js" integrity="sha512-ZQQJGP0GZBNJFbHsLo4BMtP+5vnqjyqhg98WyW0t5GSelB1bAbb6hXrW7AaH8GDIsW9wkch0YRSVPvozOGGhzw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/1.6.1/js/buttons.html5.min.js" integrity="sha512-Mmhq4jQrH7thNGo1ijXO2SqTqFaGwfwpY3uBbFqvD1dvEcUP9M/EfEj8JAAXIIJGdtAgN+S3NtuZmhksrLLlDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/1.6.1/js/buttons.print.min.js" integrity="sha512-kYpyIzqFmlPX1c3EhpL4+8AajeawkvGies2wVJcpMZJ/7zupZ/KcHa8QsDng8rtFUn2yPk/0MZolkz3pTqhsPA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/1.6.1/js/buttons.flash.min.js" integrity="sha512-90CjCGIVo1iK/TihEKb+EUGC2umQQSWTXzx3egiyFV/GBRKd9LeyfqZ4PTuO0XtSq1dEiVWsinwxjLobiNG2xQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.5/pdfmake.min.js" integrity="sha512-rDbVu5s98lzXZsmJoMa0DjHNE+RwPJACogUCLyq3Xxm2kJO6qsQwjbE5NDk2DqmlKcxDirCnU1wAzVLe12IM3w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.5/vfs_fonts.min.js" integrity="sha512-BDZ+kFMtxV2ljEa7OWUu0wuay/PAsJ2yeRsBegaSgdUhqIno33xmD9v3m+a2M3Bdn5xbtJtsJ9sSULmNBjCgYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
  <script>
    function getFileSize(uploadField, index = 0) {
      let _size = uploadField.files[index].size;
      let fSExt = ['Bytes', 'KB', 'MB', 'GB']
      let i = 0;
      while (_size > 900) {
        _size /= 1024;
        i++;
      }
      return (Math.round(_size * 100) / 100) + ' ' + fSExt[i];
    }

    $("#import_subscribers_btn").click(function (e) {
      $("#import_subscribers_errors").html("");
      $("#import_subscribers_message").html("");
      $("div#spinner").show();

      let files = $('#subcribers_upload').prop('files');
      if (files.length === 0) {
        $("#import_subscribers_errors").append('<p class="text-danger"><svg class="icon-expand icon icon-sm icon-danger mr-2">' +
          '<use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>' +
          '</svg>{{ "iscrizioni.missing_file" | trans }}</p>');
        return;
      }

      let data = new FormData();
      data.append("upload", files[0]);

      $.ajax({
        url: $(this).attr('data-url'),
        type: "post",
        data: data,
        processData: false, //tell jquery not to process data
        contentType: false, //tell jquery not to set content-type
        success: function (response, status, jqxhr) {
          $("div#spinner").hide();
        },
        error: function (jqxhr) {
          $("div#spinner").hide();

          // todo: manage error
          let errors = jqxhr.responseJSON.errors || [];
          errors.forEach(function (error) {
            $("#import_subscribers_errors").append(`<p class="text-danger"><svg class="icon-expand icon icon-sm icon-danger mr-2">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
          </svg>${error}</p>`);
          })
        },
        complete: function (jqxhr) {
          let importMessage = jqxhr.responseJSON.import_message;
          let isEmpty  = jqxhr.responseJSON.subscriptions.length === 0
          $("#import_subscribers_message").append(`<p class="${isEmpty ? "text-danger" : "text-success"}"><svg class="icon-expand icon icon-sm ${isEmpty ? "icon-danger" : "icon-success"} mr-2">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#${isEmpty ? "it-close" : "it-check"}"></use>
          </svg>${importMessage}</p>`);
        }
      });
    })

    $("#import_payments_btn").click(function (e) {
      $("#import_payments_errors").html("");
      $("#import_payments_message").html("");
      $("div#spinner").show();

      let files = $('#payments_upload').prop('files');
      if (files.length === 0) {
        $("#import_payments_errors").append('<p class="text-danger"><svg class="icon-expand icon icon-sm icon-danger mr-2">' +
          '<use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>' +
          '</svg>{{ "iscrizioni.missing_file" | trans }}</p>');
        return
      }
      let paymentConfig = $('#select_payment').val();

      let data = new FormData();
      data.append("upload", files[0]);
      data.append("payment", paymentConfig)

      $.ajax({
        url: $(this).attr('data-url'),
        type: "post",
        data: data,
        processData: false, //tell jquery not to process data
        contentType: false, //tell jquery not to set content-type
        success: function (response, status, jqxhr) {
          $("div#spinner").hide();
        },
        error: function (jqxhr) {
          $("div#spinner").hide();
          // todo: manage error
          let errors = jqxhr.responseJSON.errors || [];

          errors.forEach(function (error) {
            $("#import_payments_errors").append(`<p class="text-danger"><svg class="icon-expand icon icon-sm icon-danger mr-2">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close"></use>
          </svg>${error}</p>`);
          })
        },
        complete: function (jqxhr) {
          let importMessage = jqxhr.responseJSON.import_message;
          let isEmpty  = jqxhr.responseJSON.applications.length === 0
          $("#import_payments_message").append(`<p class="${isEmpty ? "text-danger" : "text-success"}"><svg class="icon-expand icon icon-sm ${isEmpty ? "icon-danger" : "icon-success"} mr-2">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#${isEmpty ? "it-close" : "it-check"}"></use>
          </svg>${importMessage}</p>`);
        }
      });
    })

    // Add the following code if you want the name of the file appear on select
    $("#subcribers_upload").on("change", function () {
      $("#import_subscribers_errors").html("")
      $("#import_subscribers_message").html("");

      let fileName = $(this).val().split("\\").pop();
      if (fileName) {
        $('#subscribers_file').html(`<li class="upload-file success">
      <svg class="icon icon-sm" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-file"></use></svg>
      <p>${fileName} <span class="upload-file-weight">${getFileSize(this)}</span></p>
      <button disabled>
        <svg class="icon icon-sm icon-success" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-check"></use></svg>
      </button>
    </li>`);
      } else {
        $('.subscribers_file').innerHTML = "";
      }
    });

    // Add the following code if you want the name of the file appear on select
    $("#payments_upload").on("change", function () {
      $("#import_payments_errors").html("");
      $("#import_payments_message").html("");
      var fileName = $(this).val().split("\\").pop();
      if (fileName) {
        $('#payments_file').html(`<li class="upload-file success">
      <svg class="icon icon-sm" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-file"></use></svg>
      <p>${fileName} <span class="upload-file-weight">${getFileSize(this)}</span></p>
      <button disabled>
        <svg class="icon icon-sm icon-success" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-check"></use></svg>
      </button>
    </li>`);
      } else {
        $('.payments_file').innerHTML = "";
      }
    });

    var oldExportAction = function (self, e, dt, button, config) {
      if (button[0].className.indexOf('buttons-excel') >= 0) {
        if ($.fn.dataTable.ext.buttons.excelHtml5.available(dt, config)) {
          $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config);
        } else {
          $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
        }
      } else if (button[0].className.indexOf('buttons-csv') >= 0) {
        if ($.fn.dataTable.ext.buttons.csvHtml5.available(dt, config)) {
          $.fn.dataTable.ext.buttons.csvHtml5.action.call(self, e, dt, button, config);
        } else {
          $.fn.dataTable.ext.buttons.csvFlash.action.call(self, e, dt, button, config);
        }
      } else if (button[0].className.indexOf('buttons-print') >= 0) {
        $.fn.dataTable.ext.buttons.print.action(e, dt, button, config);
      } else if ((button[0].className.indexOf('buttons-pdf') >= 0)) {
        if ($.fn.dataTable.ext.buttons.pdfHtml5.available(dt, config)) {
          $.fn.dataTable.ext.buttons.pdfHtml5.action.call(self, e, dt, button, config);
        } else {
          $.fn.dataTable.ext.buttons.pdfFlash.action.call(self, e, dt, button, config);
        }
      }
    };

    var newExportAction = function (e, dt, button, config) {
      var self = this;
      var oldStart = dt.settings()[0]._iDisplayStart;

      dt.one('preXhr', function (e, s, data) {
        // Just this once, load all data from the server...
        data.start = 0;
        data.length = 2147483647;

        dt.one('preDraw', function (e, settings) {
          // Call the original action function
          oldExportAction(self, e, dt, button, config);

          dt.one('preXhr', function (e, s, data) {
            // DataTables thinks the first item displayed is index 0, but we're not drawing that.
            // Set the property to what it was before exporting.
            settings._iDisplayStart = oldStart;
            data.start = oldStart;
          });

          // Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
          setTimeout(dt.ajax.reload, 0);

          // Prevent rendering of the full data to the DOM
          return false;
        });
      });

      // Requery the server with the new one-time export settings
      dt.ajax.reload();
    };

    $(document).ready(function () {
      // Override default datatable buttons classes
      $.fn.dataTable.Buttons.defaults.dom.button.className = 'btn btn-link';

      const lang = document.documentElement.lang.toString();
      //Default
      let url_language = '/bundles/app/js/libs/datatables/it-IT.json';
      if(lang === 'en'){
        url_language = '/bundles/app/js/libs/datatables/en-GB.json';
      }else if(lang === 'de'){
        url_language = '/bundles/app/js/libs/datatables/de-DE.json';
      }
      $('#subscriptions').initDataTables({{ datatable_settings(datatable) }}, {
        dom: 'fBrtip',
        searching: true,
        paging: true,
        pagingType: 'simple_numbers',
        language: {
          url: url_language
        },
        buttons: [
          {
            extend: 'excel',
            text: '<i class="fas fa-file-excel"></i><span class="ml-2">{{ 'meetings.excel' | trans }}</span>',
            title: '{{ 'iscrizioni.subscriptions' | trans }}',
            action: newExportAction,
          },
          {
            extend: 'csv',
            text: '<i class="fas fa-file-csv"></i><span class="ml-2">{{ 'meetings.csv' | trans }}</span>',
            title: '{{ 'iscrizioni.subscriptions' | trans }}',
            action: newExportAction,
          },
          {
            extend: 'pdf',
            text: '<i class="fas fa-file-pdf"></i><span class="ml-2">{{ 'meetings.pdf' | trans }}</span>',
            title: '{{ 'iscrizioni.subscriptions' | trans }}',
            pageSize: 'LEGAL',
            action: newExportAction,
          },
          {
            extend: 'print',
            text: '<i class="fas fa-print"></i><span class="ml-2">{{ 'meetings.print' | trans }}</span>',
            title: '{{ 'iscrizioni.subscriptions' | trans }}',
            action: newExportAction,
          }
        ],
        initComplete: function () {
          dt.buttons().container().children().each(function (index, elem) {
            var listViewItem = document.createElement('li');
            listViewItem.append(elem);
            $('#export_list').append(listViewItem);
          })

          $("#dropdown_group").appendTo(".dt-buttons");
          $('#dropdown_group').removeClass('d-none');

          // Add data-title attribute
          $('#subscriptions thead tr th').each(function (index, element) {
            index += 1;
            $('tr td:nth-child(' + index + ')').attr('data-title', element.innerHTML);
          });

          // Use bootstrap buttons for pagination
          $('a.paginate_button').addClass('btn');
          // Add margin bottom to datatables info
          $('#dt_info').css('margin-bottom', '0.85em')

          $("#file-input2").on("change", function (e) {
            var fdata = new FormData();

            fdata.append("upload", this.files[0]);
            $.ajax({
              url: "{{ path('operatori_importa_csv_iscrizioni', { 'subscriptionService': subscriptionService.id }) }}",
              type: "post",
              data: fdata, //add the FormData object to the data parameter
              processData: false, //tell jquery not to process data
              contentType: false, //tell jquery not to set content-type
              success: function (response, status, jqxhr) {
                location.reload();
              },
              error: function (jqxhr) {
                // todo: manage error
                let errors = jqxhr.responseJSON.errors || [];
                errors.forEach(function (error) {
                  let inputForm = `<p class="text-danger"><svg class="icon-expand icon icon-danger"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-download"></use></svg>${error.error}</p>`;
                  $("#errors").append(inputForm);
                })
              }
            });
          });
        }
      })
    });
  </script>

{% endblock %}

{% block main_content %}
  <section id="intro" class="container px-4 my-4">
    <div id="token" class="hidden" data-token='{{ token }}'></div>
    <div id="errors"></div>
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <h1> {{ subscriptionService.name }} / {{ 'iscrizioni.subscriptions' | trans }}</h1>
      </div>
      <div class="col-lg-12 px-lg-4 py-lg-2 mt-4">
        <div id="no-more-tables" class="table-striped">
          <div id="subscriptions"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2 mx-2 my-2">
        <a class="btn btn-100 mr-1 btn-sm"
           href="{{ path('operatori_subscription-service_show', { 'subscriptionService': subscriptionService.id }) }}">{{ 'iscrizioni.back_to_service' | trans }}</a>
        <a class="btn btn-100 btn-sm"
           href="{{ path('operatori_subscription-service_index') }}">{{ 'iscrizioni.back_to_list' | trans }}</a>
      </div>
    </div>
    <div id="dropdown_group" class="d-none">
      <div class="btn-group">
        <button id="export_button" type="button" class="btn btn-primary btn-xs dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <svg class="icon-expand icon icon-sm icon-light">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
          </svg>
          {{ 'iscrizioni.export' | trans }}
          <svg class="icon-expand icon icon-sm icon-light">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
          </svg>
        </button>
        <div class="dropdown-menu">
          <div class="link-list-wrapper">
            <ul class="link-list w-max-content" id="export_list">
            </ul>
          </div>
        </div>
      </div>
      <div class="btn-group">
        <button id="import_button" type="button" class="btn btn-primary btn-xs dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <svg class="icon-expand icon icon-sm icon-light">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-upload"></use>
          </svg>
          {{ 'iscrizioni.import' | trans }}
          <svg class="icon-expand icon icon-sm icon-light">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
          </svg>
        </button>
        <div class="dropdown-menu">
          <div class="link-list-wrapper">
            <ul class="link-list w-max-content">
              <li>
                <button type="button" class="btn btn-link" data-toggle="modal"
                        data-target="#modal_import_subscriptions">
                  <i class="fas fa-user-plus mr-2"></i><span>{{ 'iscrizioni.subscriptions' | trans }}</span>
                </button>
              </li>
              <li>
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal_import_payments">
                  <i class="fas fa-credit-card mr-2"></i><span>{{ 'iscrizioni.payments' | trans }}</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {{ include('SubscriptionServices/parts/subscriptionsModal.html.twig') }}
    {{ include('SubscriptionServices/parts/paymentsModal.html.twig') }}
    {{ include('Subscriptions/parts/_modal_edit.html.twig', {'subscriptionServices': subscriptionServices}) }}
    {{ include('Subscriptions/parts/_modal_delete.html.twig') }}
    {{ include('Subscriptions/parts/_modal_withdraw.html.twig') }}
    {{ include('Subscriptions/parts/_modal_activate.html.twig') }}
  </section>
{% endblock %}
