{% extends 'Default/backend.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    $(document).ready(function () {
      $('.clone').click(function (e) {
        e.preventDefault()
        let button = $(this)
        let temp = $("<input>")
        $("body").append(temp)
        temp.val(button.data('url')).select()
        document.execCommand("copy")
        button.find('span').text('{{ 'servizio.url_copied' | trans }}')
        temp.remove();
        setTimeout(function () {
          button.find('span').text('{{ 'servizio.copy_url' | trans }}')
        }, 2000);

      })
    })
  </script>
{% endblock %}

{% block main_content %}
  <section id="intro" class="container my-4">
    <div class="row">
      <div class="col-lg-12">
        <h2>{{ 'gruppo_di_servizi.gruppo_di_servizi' | trans() }}</h2>
      </div>

      <div class="col-lg-12">
        <div id="no-more-tables">
          <table class="table table-striped table-condensed cf">
            <thead>
            <tr>
              <th>{{ 'gruppo_di_servizi.nome' | trans() }}</th>
              <th>{{ 'servizio.categoria' | trans() }}</th>
              <th>{{ 'gruppo_di_servizi.url' | trans() }}</th>
              <th>{{ 'gruppo_di_servizi.protocollazione_fascicoli' | trans() }}</th>
              <th>{{ 'gruppo_di_servizi.azioni' | trans() }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
              <tr>
                <td data-title="Nome">
                  <a href="{{ path('admin_service_group_edit', { 'id': item.id }) }}">{{ item.name }}</a>
                </td>
                <td>{{ (item.topics) ? item.topics.name : '' }}</td>
                <td>
                  <a class="btn btn-sm btn-secondary clone" href="#"
                     data-url="{{ absolute_url(path('service_group_show', { 'slug': item.slug })) }}"
                     data-container="body" data-toggle="popover" data-trigger="hover"
                     data-placement="right"
                     data-html="true" title="{{ 'operatori.public_url_service_group' | trans }}"
                     data-content="{{ 'operatori.copy_url_service_group' | trans }}">
                    Copia Url
                  </a>
                </td>
                <td>{% if item.registerInFolder %} {{ 'gruppo_di_servizi.attivata' | trans() }} {% else %} {{ 'gruppo_di_servizi.disattivata' | trans() }} {% endif %}</td>
                <td data-title="Azioni" class="actions">
                  <a class="btn btn-secondary btn-xs" href="{{ path('admin_service_group_edit', { 'id': item.id }) }}">{{ 'gruppo_di_servizi.modifica' | trans() }}</a>
                  <a class="btn btn-danger btn-xs"
                     onclick="return confirm('{{ 'operatori.delete_service_group' | trans }}');"
                     href="{{ path('admin_service_group_delete', { 'id': item.id }) }}">{{ 'elimina' | trans }}</a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <a class="btn btn-primary" href="{{ path('admin_service_group_new') }}">{{ 'gruppo_di_servizi.crea' | trans() }}</a>
      </div>
    </div>
  </section>
{% endblock %}
