{% if row.status == '1' %}
  <span class="badge {%  if row.retry >= 10 %}badge-danger{% else %}badge-warning{% endif %}">{{ 'STATUS_WAITING' | trans }}</span>
{% elseif row.status == '3' %}
  <span class="badge badge-success">{{ 'STATUS_DONE' | trans }}</span>
{% else %}
  <span class="badge badge-danger">{{ 'STATUS_INVALID' | trans }}</span>
{% endif %}

