{% extends 'Default/printable.html.twig' %}

{% set ente = instance_service.getCurrentInstance() %}
{% set customName = ente.getMetaAsArray('name') %}
{% set enteName = customName != '' ? customName :  ente.name %}
{% set host_url = ocsdc_scheme ~ '://' ~ ocsdc_host ~ '/' %}
{% set logoMeta = ente.getMetaAsArray('logo') %}
{% set logo = logoMeta  ? logoMeta :  host_url ~ 'bundles/app/images/logo-default.png' %}


{% block stylesheets %}
  <script src="{{ absolute_url(asset('bundles/bazingajstranslation/js/translator.min.js')) }}"></script>
  <script src="{{ url('bazinga_jstranslation_js') }}/messages/{{ app.request.locale }}.js"></script>
  {{ parent() }}
  {{ include('Print/parts/style.html.twig') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block main_content %}

  <main class="container-fluid px-5">
    {{ include('Print/parts/_header.html.twig') }}
  </main>

  {{ include('Print/parts/_footer.html.twig') }}

{% endblock %}
