.cmp-breadcrumbs {
  margin-top: 1.5rem;
  margin-bottom: 1rem;

  @include media-breakpoint-up(md) {
    margin-top: 2.22rem;
    margin-bottom: 1.333rem;
  }

  .breadcrumb-container .breadcrumb .breadcrumb-item a{
    color: $primary;
    font-weight: 400;

    &:hover {
      color: $primary;
    }
  }

  .separator {
    color: get-color(light, grey);
    font-weight: 400;
  }

  .breadcrumb-item.active {
    color: get-color(light, grey);
  }

  .breadcrumb > li {
    @include font(14, 16);
    font-weight: 400;
    line-height: 1.5;
  }
}
