.light {
  background: #fff !important;

  &.it-header-navbar-wrapper {
    border-bottom: 1px solid #b1b1b3 !important;
    box-shadow: 0 20px 30px 5px rgba(0,0,0,.05);
  }

  @media (max-width: 991px) {
    &.it-header-navbar-wrapper {
      border-bottom: none !important;
      box-shadow: none;
    }
  }

  a, span {
    color: $primary !important;
  }

  .icon {
    fill: $primary !important;
  }
  .custom-navbar-toggler svg {
    fill: var(--primary)
  }
  &.it-header-center-wrapper{
    a,span{
      color: #222 !important;
    }
    a:hover{
      color: $primary !important;
    }
  .it-socials{
    .icon{
      fill: #222 !important;
    }
    .icon:hover{
      fill: $primary !important;
    }
  }

    a.rounded-icon{
      background: $primary!important;
      .icon{
        fill: white!important;
      }

    }

  }
}

//Pulsante accedi all'area personale light
.it-header-slim-wrapper.light {
  .it-header-slim-wrapper-content {
    .header-slim-right-zone {
      .it-access-top-wrapper {
        > a{
          padding-top: 7.5px;
          color: #fff !important;
          padding-bottom: 7.5px;
          border-radius: 4px;
          background: $primary;
          &:hover{
            background: $primary;
            color: white;
          }
      }
        .login{
          color: white!important;
        }
      }
    }
  }
}

//Pulsante accedi all'area personale
.it-header-slim-wrapper .it-header-slim-wrapper-content .header-slim-right-zone .it-access-top-wrapper>a:hover{
  padding-top: 7.5px;
  color: #fff !important;
  padding-bottom: 7.5px;
  border-radius: 4px;
  background: $primary;
  &:hover{
    background: $primary;
    color: white;
  }
}


