{% if ente.satisfyEnabled %}
  <li class="nav-item">
    <a class="nav-link" data-focus-mouse="false" data-element="satisfy"
       href="#oc-satisfy"><span class="{{ landing is defined ? landing : ''  }}">{{ 'servizio.valuta_il_servizio' | trans }}</span></a>
  </li>
{% endif %}
