<h3>{{ meeting.calendar.title }}</h3>

{{ 'meetings.email.operatori.meeting_rescheduled.message' | trans({
  '%old_date%': old_date|format_datetime('medium', 'none', locale=meeting.locale),
  '%old_hour%': old_date|format_time(pattern='HH:mm', locale=meeting.locale),
  '%new_date%': meeting.fromTime|format_datetime('medium', 'none', locale=meeting.locale),
  '%new_hour%': meeting.fromTime |format_time(pattern='HH:mm', locale=meeting.locale)
}, null, meeting.locale) | raw }}

{{ include('Emails/Meeting/operator/parts/_details_table.html.twig') }}

{% if meeting.status == constant('STATUS_PENDING', meeting) %}
  {{ 'meetings.email.operatori.new_meeting.approve_link' | trans({'approve_link': absolute_url(path('operatori_approve_meeting', {'id': meeting.id, '_locale': meeting.locale}))}, null, meeting.locale) | raw }}
{% endif %}
