{% extends 'Default/index.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block main_content %}
  {% if feature('feature_personal_area_v2') %}
  <ap-payments base-url="{{ absolute_url(path('instance_home'))|slice(0,-4) }}"
                   directus-url="https://api.opencityitalia.it/m/v1"></ap-payments>
  <link rel="stylesheet" href="{{ asset('widgets/personal-area/personal-area.css') }}"/>
  <script type="module" src="{{ asset('widgets/personal-area/ap-payments.js') }}"></script>
  {% else %}
  <section class="container">
    <div class="row">
      <div class="col-12">
        <div id="payments" data-checkout-api-url="{{ payment_checkout_api_url }}"></div>
      </div>
    </div>
  </section>
  {% endif %}
{% endblock %}

