{% set paymentOutcome = app.request.query.get('payment_outcome') %}
  {% if (paymentOutcome | lower) == 'ko' %}
    <div class="categoryicon-top d-flex">
      <svg class="icon icon-danger mr-10 big-lg-icon mb-1" aria-hidden="true">
        <use href="/bootstrap-italia/dist/svg/sprite.svg#it-close-circle"></use>
      </svg>
      <h1 class="title-xxxlarge">{{ 'pratica.payment_error' | trans }}</h1>
    </div>
    <p
      class="subtitle-small">{{ 'pratica.payment_pending_error_message'|trans({'%name%':pratica.servizio.name,'%id%':pratica.id})|raw }}</p>
  {% else %}
    <div class="categoryicon-top d-flex">
      <svg class="icon icon-success mr-10 big-lg-icon mb-1" aria-hidden="true">
        <use href="/bootstrap-italia/dist/svg/sprite.svg#it-check-circle"></use>
      </svg>
      <h1 class="title-xxxlarge">
        {{ 'pratica.application_payment_pending' | trans }}
      </h1>
    </div>
    <p class="subtitle-small">{{ 'pratica.payment_status_unknown' | trans }}</p>
  {% endif %}
<p class="mt-4 mb-0">
  {{ 'payment.amount' | trans }}: <strong>{{ pratica.paymentAmount }}
    € {{ 'pratica.payment_transaction_label'|trans }}</strong>
</p>

<p class="mt-4 mt-lg-3 mb-40 mb-lg-80">
  {{ 'pratica.sent_to_summary_with_payment' | trans }}
  <a class="t-primary"
     href="{{ path('pratica_show_detail', {'pratica': pratica.id}) }}">{{ 'personal_area' | trans }}</a> {{ 'pratica.sent_to_summary_payment_pending_or' | trans({'%instance_url%': path('service_access', {'servizio': pratica.servizio.slug}),'%new_request%': 'new_request' | trans}) | raw }}
</p>



