@charset "UTF-8";

$primary: #b10015;

$primary-a5: $primary;
$primary-a6: $primary;
$primary-a7: $primary;

// Header
$header-slim-bg-color: #303030;     // Colore di background del top header
$header-slim-button-color: #303030; // Colore di background del bottone di accesso all'area personale
$header-center-bg-color: $primary;       // Colore di background del header centrale
$header-slim-text-color: #fff;      // Colore del testo del top header
$header-slim-button-hover-color: $primary; // Colore di background del bottone di accesso all'area personale su hover

$bg-footer: #30373d;


@import "core";


