{% extends 'Default/error.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <style>
    body {
      margin: 0;
      padding: 0;
      background: linear-gradient(135deg, #0066CC, #1f5c99);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
      overflow: hidden;
    }
  </style>
{% endblock %}
{% block main_content %}
  <section class="container px-4 my-4">
    <div class="pb-5">
      <div class="container px-4">
        <div class="row">
          <div class="col text-center">
            <p><svg class="icon icon-xl icon-white align-top"><use href="/bootstrap-italia/dist/svg/sprite.svg#it-error"></use></svg></p>
            <h1>{{ 'maintenance.title'|trans }}</h1>
            <div class="error-details mt-5">
              {{ 'maintenance.description'|trans|raw }}
            </div>
            {% if status_page %}
              <p class="mt-4">
                {{ 'maintenance.service_status_text'|trans|raw }}
              </p>
              <a href="{{ status_page }}" target="_blank" class="btn btn-outline-100 ">{{ 'maintenance.service_status_button'|trans }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
