<div id="multiple-payments" class="row" data-tenant-id="{{ servizio.ente.id }}" data-payment-configs="{{ servizio.paymentConfigsAsArray|json_encode }}" data-service-id="{{ servizio.id }}">
  <div class="col-lg-12 px-lg-4">
    {% if servizio.ente.gateways|length > 0 %}
      {{ form_start(form) }}
      {{ form_errors(form) }}
      {{ form_row(form.paymentGatewayIdentifier) }}

      <div class="payment-configs">
        <div class="row pb-2">
          <div class="col-12">
            <div class="card card-bg d-block">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 pt-2">
                    <p>
                      <strong>Pagamenti immediati</strong><span id="request-payment-configs-counter" class="badge badge-light ml-2">{{ servizio.requestPaymentConfigs|length }}</span>
                      <br>
                      <small class="text-400">{{ 'pratica.payment.immediate_payment_description' | trans }}</small>
                    </p>
                  </div>
                  <div class="col-12 pt-2">
                    <table class="table table-sm table-striped" id="request-payment-configs-table">
                      {% if servizio.requestPaymentConfigs|length == 0 %}
                        <tr class="no-payment-configs">
                          <td colspan="2">
                            <p class="text-center mt-3"><i class="fa fa-info-circle"></i> Non ci sono pagamenti configurati</p>
                          </td>
                        </tr>
                      {% endif %}
                    </table>
                  </div>
                  <div class="col-12 pt-2">
                    <button type="button" class="btn btn-xs btn-primary add-payment" data-phase="request"><i class="fa fa-plus"></i> Aggiungi</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row pb-2">
          <div class="col-12">
            <div class="card card-bg d-block">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 pt-2">
                    <p>
                      <strong>Pagamenti posticipati</strong><span id="release-payment-configs-counter" class="badge badge-light ml-2">{{ servizio.releasePaymentConfigs|length }}</span>
                      <br>
                      <small class="text-400">{{ 'pratica.payment.delayed_payment_description' | trans }}</small>
                    </p>
                  </div>
                  <div class="col-12 pt-2">
                    <table class="table table-sm table-striped" id="release-payment-configs-table">
                      {% if servizio.requestPaymentConfigs|length == 0 %}
                        <tr class="no-payment-configs">
                          <td colspan="2">
                            <p class="text-center mt-3"><i class="fa fa-info-circle"></i> Non ci sono pagamenti configurati</p>
                          </td>
                        </tr>
                      {% endif %}
                    </table>
                  </div>
                  <div class="col-12 pt-2">
                    <button type="button" class="btn btn-xs btn-primary add-payment" data-phase="release"><i class="fa fa-plus"></i> Aggiungi</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      {{ include('Admin/servizio/_saveButtons.html.twig') }}
      {{ form_end(form) }}
    {% else %}
      <div class="alert alert-warning">
        <p>{{ 'backoffice.gateway.enable' | trans }} <a
            href="{{ path('admin_edit_ente') }}#payments">{{ 'backoffice.gateway.payment_gateway' | trans }}</a> {{ 'backoffice.integration.enable_integration_access' | trans }}
          .</p>
      </div>
    {% endif %}
  </div>
</div>
