<div class="row">
  <div class="col-lg-12 px-lg-4">
    {% if servizio.ente.gateways|length > 0 %}
      {{ form_start(form) }}
      {{ form_errors(form) }}
      {# Metto in and con payment required per retrocompatibilità #}
      <div class="{% if servizio.isDuePayment and servizio.paymentRequired > constant('PAYMENT_NOT_REQUIRED', servizio) %}d-none{% endif %}">
        {{ form_row(form.payment_required) }}
        {{ form_row(form.total_amounts) }}
      </div>
      {{ include('Admin/gateways/_gateways_list.html.twig') }}

      {{ include('Admin/servizio/_saveButtons.html.twig') }}
      {{ form_end(form) }}
    {% else %}
      <div class="alert alert-warning">
        <p>{{ 'backoffice.gateway.enable' | trans }} <a
            href="{{ path('admin_edit_ente') }}#payments">{{ 'backoffice.gateway.payment_gateway' | trans }}</a> {{ 'backoffice.integration.enable_integration_access' | trans }}
          .</p>
      </div>
    {% endif %}
  </div>
</div>
