<div class="row">
  <div class="col-lg-12">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group mb-5">
      <label>{{ 'servizio.stamps.title' | trans }}</label>
      <div id="current-stamps"
           data-widget-stamp="{{ '<div class="js-stamp-item shadow px-3 my-4"></div>'|e }}"
           data-widget-counter="{{ form.stamps|length }}">
        {% if form.stamps|length > 0 %}
          {% for m in form.stamps %}
            <div class="js-stamp-item shadow px-3 my-4">
              <div class="row">
                <div class="col-6 col-md-3">
                  {{ form_row(m.reason) }}
                </div>
                <div class="col-6 col-md-3">
                  {{ form_row(m.identifier) }}
                </div>
                <div class="col-6 col-md-3">
                  {{ form_row(m.amount) }}
                </div>
                <div class="col-6 col-md-2">
                  {{ form_row(m.phase) }}
                </div>

                <div class="col-6 col-md-1">
                  <div class="form-group">
                    <label>&nbsp;</label>
                    <a class="btn btn-danger js-remove-stamp" href="#">
                      <i class="fa fa-trash-o fa-lg"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <small id="no-stamps" class="d-block m-2 text-muted">
            <i class="fa fa-info-circle"></i> {{ 'servizio.stamps.helper' | trans }}
          </small>
        {% endif %}
      </div>
      <div class="row mt-4">
        <div class="col-9"></div>
        <div class="col-3">
          <button type="button" id="add-stamp"
                  class="btn btn-xs btn-outline-primary btn-block">{{ 'aggiungi' | trans }}</button>
        </div>
      </div>
    </div>

    {{ include('Admin/servizio/_saveButtons.html.twig') }}
    {{ form_end(form) }}
  </div>
</div>

<script type="text/html" id="stamp-item-template">
  <div class="row">
    <div class="col-6 col-md-3">
      <div class="form-group">
        <label for="stamps___name___reason" class="required">{{ 'servizio.stamps.reason'|trans }}</label>
        <input type="text" id="stamps___name___reason" name="stamps_data[stamps][__name__][reason]"
               required="required"
               class="form-control reason"/>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="form-group">
        <label for="stamps___name___identifier" class="required">{{ 'servizio.stamps.identifier'|trans }}</label>
        <input type="text" id="stamps___name___identifier" name="stamps_data[stamps][__name__][identifier]"
               class="form-control identifier"/>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="form-group">
        <label for="stamps___name___amount" class="required">{{ 'servizio.stamps.amount'|trans }}</label>
        <div class="input-group">
          <input type="text" id="stamps___name___amount" name="stamps_data[stamps][__name__][amount]"
                 required="required" data-focus-mouse="false" class="form-control"/>
          <div class="input-group-append">
            <span class="input-group-text"> €</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-2">
      <div class="form-group">
        <label for="stamps___name___phase" class="required">{{ 'servizio.stamps.phase.label'|trans }}</label>
        <select id="stamps___name___phase" name="stamps_data[stamps][__name__][phase]" required="required"
                class="form-control">
          <option
            value="{{ constant('App\\Model\\StampSettings::PHASE_REQUEST') }}">{{ 'servizio.stamps.phase.data.request'|trans }}</option>
          <option
            value="{{ constant('App\\Model\\StampSettings::PHASE_RELEASE') }}">{{ 'servizio.stamps.phase.data.release'|trans }}</option>
        </select>
      </div>
    </div>

    <div class="col-12 col-md-1">
      <div class="form-group">
        <label>&nbsp;</label>
        <a class="btn btn-danger js-remove-stamp" href="#">
          <i class="fa fa-trash-o fa-lg"></i>
        </a>
      </div>
    </div>
  </div>
</script>

