{% extends 'Default/printable.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ include('Pratiche/pdf/parts/style.html.twig') }}
{% endblock %}

{% block main_content %}

  {{ include('Print/parts/_header.html.twig') }}

  <main class="container-fluid">
    <div class="row mt-5">
      <div class="col-12">
        <h1>{{ 'pratica.dettaglio.richiesta_integrazione'|trans }}</h1>

        <p>
          <strong>{{ 'pratica.servizio'|trans }}</strong>:{{ pratica.servizio.fullName }}<br>
          <strong>{{ 'pratica.dettaglio.richiedente' | trans }}</strong>: {{ pratica.user.fullName }}<br>
          <strong>{{ 'pratica.numero' | trans }}</strong>: {{ pratica.id }}<br>
          {% if pratica.numeroProtocollo %}
            <strong>{{ 'pratica.protocol_number' | trans }}</strong>: {{ pratica.numeroProtocollo }}
          {% endif %}
        </p>

        {# Richiesta integrazione #}
        {% if integration_request.message %}
          <h3 class="mt-5">{{ 'operatori.note_richiesta' | trans }}</h3>
          {{ integration_request.message|raw }}
        {% endif %}

        {# Allegati #}
        <h3 class="mt-5">{{ 'operatori.allegati'|trans }}</h3>
        {% if attachments|length > 0 %}
          <table class="table">
            <thead>
            <tr>
              <th>{{ 'allegato.nome_file' | trans }}</th>
              <th>{{ 'allegato.hash_file' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for a in attachments %}
              <tr>
                <td>{{ a.originalFilename }}</td>
                <td>{{ a.hash }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p><em>{{ 'pratica.nessun_allegato'|trans }}</em></p>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}
