<div class="pb-5">
  <div id="waiting-step" class="d-flex flex-column align-items-center text-center spinner-container">
    <div class="waiting-content step-1 mx-5">
      <img src="{{ asset('bundles/app/images/pictograms/payment-loading-step-1.gif') }}"
           alt="{{ 'payment.waiting.step-1.title'|trans() }}"/>
      <h5 class="font-weight-semibold px-5">{{ 'payment.waiting.step-1.title'|trans() }}</h5>
    </div>

    <div class="waiting-content step-2 mx-5 d-none">
      <img src="{{ asset('bundles/app/images/pictograms/payment-loading-step-2.gif') }}"
           alt="{{ 'payment.waiting.step-2.title'|trans() }}"/>
      <h5 class="font-weight-semibold px-5">{{ 'payment.waiting.step-2.title'|trans() }}</h5>
      <small>{{ 'payment.waiting.step-2.subtitle'|trans|raw }}</small>
    </div>

    <div class="waiting-content step-3 mx-5 pb-5 d-none">
      <h5 class="font-weight-semibold px-5 mt-5">{{ 'payment.waiting.step-3.title'|trans() }}</h5>
      <small>
        {{ 'payment.waiting.step-3.subtitle'|trans()|raw }}
        {% if ente is defined %}
          {% set builtin_services = ente.getMetaAsArray('builtin_services') %}
          {% if builtin_services.support|default %}
            {{ 'payment.waiting.step-3.request_assistance'|trans({'%link%': builtin_services.support})|raw }}
          {% endif %}
        {% endif %}
      </small>
      <p class="mt-4">
        <a href="{{ path('user_dashboard') }}" target="_blank"
           class="btn btn-sm btn-primary">{{ 'payment.waiting.step-3.cta'|trans() }}</a>
      </p>
    </div>

    <div class="waiting-content step-error mx-5 pb-5 d-none">
      <h5 class="font-weight-semibold px-5 mt-5"></h5>
      {% if ente is defined %}
        {% set builtin_services = ente.getMetaAsArray('builtin_services') %}
        {% if builtin_services.support|default %}
          <p class="mt-4">
            <a href="{{ builtin_services.support }}" target="_blank"
               class="btn btn-sm btn-primary">{{ 'contacts.support_url_label'|trans() }}</a>
          </p>
        {% endif %}
      {% endif %}
    </div>

    <div class="ellipse"></div>

    <div class="progress-bar-wrapper w-25 mt-3">
      <div class="progress-bar-label"><span class="sr-only">Progresso </span>0%</div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
             aria-valuemax="100"></div>
      </div>
    </div>

  </div>

  <div class="d-none actions-container"
       data-api="{% if feature('feature_multiple_payments') %}{{ path('payments_api_list', {'remote_id': pratica.id, 'status': 'payment_pending'}) }}{% else %}{{ path('application_api_payment_get', {'id': pratica.id, 'status': 'payment_pending'}) }}{% endif %}"
       data-payment-type="{% if feature('feature_multiple_payments') %}multiple{% else %}single{% endif %}"
       data-checkout-type="{% if feature('feature_checkout_pagopa') %}checkout{% else %}proxy{% endif %}"
       data-checkout-api-url="{{ payment_checkout_api_url }}"
       data-callback-url="{{ absolute_url(path('pratiche_payment_callback', {'pratica': pratica.id})) }}"
  >
    <div class="row">
      <div class="col-12 mb-2 mb-md-4">
        <h3>{{ 'payment.title'|trans() }}</h3>
        <div class="page-desc">
          <p>{{ 'payment.description'|trans() }}</p>
        </div>
      </div>
      <div class="col-12 col-md-6 card-pay-online">
        <!--start card-->
        <div class="card-wrapper card-space">
          <div class="card card-bg no-after">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center mb-3 h-80">
                <span class="h4 mb-0">
                  {{ 'payment.pay_online.title'|trans() }}
                </span>
                <img src="{{ asset('bundles/app/images/pictograms/notifica.svg') }}"
                     alt="Icona Sui servizi di pagamento online" class="h-40"/>
              </div>
              <p>
                {{ 'payment.pay_online.description'|trans() }}
              </p>
              <div class="it-card-footer">
                <a href="#" class="btn btn-primary w-100 online_payment_begin" role="button" aria-pressed="true">
                  {{ 'pratica.payment.paga_online'|trans() }}</a>
              </div>
            </div>
          </div>
        </div>
        <!--end card-->
      </div>
      <div class="col-12 col-md-6 card-pay-offline">
        <!--start card-->
        <div class="card-wrapper card-space">
          <div class="card card-bg no-after">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center mb-3 h-80">
                <span class="h4 mb-0">{{ 'payment.pay_office.title'|trans() }}</span>
                <img src="{{ asset('bundles/app/images/pictograms/posteitaliane.svg') }}"
                     alt="Icona In ufficio postale" class="h-40">
              </div>
              <p>{{ 'payment.pay_office.description'|trans() }}</p>
              <div class="it-card-footer">
                <a target="_blank" href="#" class="btn btn-primary w-100 offline_payment" role="button"
                   aria-pressed="true" download>
                  <svg class="icon mr-1 icon-white icon-sm">
                    <use href="/bootstrap-italia/dist/svg/sprite.svg#it-print"></use>
                  </svg>
                  {{ 'pratica.payment.paga_offline'|trans() }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--end card-->
      </div>
      <div class="col-12">
        <p class="mt-2">
          <svg class="icon icon-primary icon-sm align-top">
            <use href="/bootstrap-italia/dist/svg/sprite.svg#it-info-circle"></use>
          </svg>
          <span>{{ 'pratica.payment.more_info'|trans() }} <a href="https://www.pagopa.gov.it/it/cittadini/dove-pagare/"
                                                             target="_blank">link</a></span>
        </p>
      </div>
    </div>
  </div>
  <div class="alert alert-danger alert-error d-none" role="alert"></div>
</div>
