{% block javascripts %}
  <script>
    const translate_ritiro_pratica = "{{ 'pratica.ritira_pratica' | trans }}";
  </script>
{% endblock %}

{% if pratica.servizio.receipt == 'f24' or pratica.servizio.receipt == 'compiled_module' %}
  {% if pratica.moduliCompilati|length > 0 %}
    {% set attachment = pratica.moduliCompilati.first %}
    <a href="{{ path('allegati_download_cpsuser', {'allegato': attachment.id}) }}" download="" class="btn btn-outline-primary w-100 fw-bold mb-4">
      <svg class="icon icon-primary icon-sm">
        <use href="/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
      </svg>
      <span>{{ ('operatori.download.' ~ pratica.servizio.receipt) | trans }}</span>
    </a>
  {% else %}
    {% if pratica.status >= constant('\\App\\Entity\\Pratica::STATUS_PRE_SUBMIT') %}
      <div class="p-3 container-pdf-download" id="container-generate-pdf">
        <div class="d-flex align-items-center">
        <div class="image-loading-pdf">
          <img src="{{ asset('bundles/app/images/make-pdf.gif') }}" alt="make-pdf" />
        </div>
        <div class="ml-2">
                  <span class="text-loading-pdf">{{ 'operatori.generazione_ricevuta' | trans }}</span>
        </div>
        </div>
        <div class="mt-4">
          <button id="button-pre-submit" disabled type="button" class="btn btn-secondary disabled w-100 fw-bold mb-2 d-flex align-items-center px-1 justify-content-center" data-url="{{ app.request.getSchemeAndHttpHost() ~ '/' ~ prefix}}/api/applications/{{ pratica.id }}">
          <span class="px-2">{{ 'operatori.scarica_ricevuta'|trans|raw }}</span>
          </button>
        </div>
      </div>

      <div class="p-4 container-pdf-download d-none" id="container-pdf">
        <div class="d-flex align-items-center">
          <div class="check">
            <img src="{{ asset('bundles/app/images/check.png') }}" alt="check-success"  class="pulse" />
          </div>
          <div class="ml-2">
            <span class="text-loading-pdf">{{ 'operatori.ricevuta_pronta' | trans }}</span>
          </div>
        </div>
        <div class="mt-4">
          <a id="link-pdf" href=""  data-attachment="{{ app.request.getSchemeAndHttpHost() ~ '/' ~ prefix ~ '/' ~ locale ~ '/pratiche/allegati/'}}" download="" type="button" class="btn btn-success  w-100 fw-bold mb-2 d-flex align-items-center px-1 justify-content-center">
            <span class="px-2">{{ 'operatori.scarica_ricevuta'|trans|raw }}</span>
          </a>
        </div>
      </div>


    {% endif %}
  {% endif %}
{% else %}
  <button id="download_module" type="button" class='btn btn-outline-primary w-100 fw-bold mb-4'
          data-print="{{ path('print_pratiche', {'pratica': pratica})  ~ '?preview=true' }}">
    <svg class="icon icon-primary icon-sm">
      <use href="/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
    </svg>
    <span>{{ ('operatori.download.' ~ pratica.servizio.receipt) | trans }}</span>
  </button>
{% endif %}

{% if can_compile %}
  {% if pratica.status == constant('\\App\\Entity\\Pratica::STATUS_PAYMENT_PENDING') or pratica.status == constant('\\App\\Entity\\Pratica::STATUS_STAMPS_PAYMENT_PENDING') %}
    <a class="btn btn-success mb-4 w-100" data-action="edit_draft"
       href="{{ path('pratiche_compila', {'pratica': pratica.id}) }}">
      <i class="fa fa-arrow-circle-right"></i>
      {{ 'pratica.vai_al_pagamento'|trans }}
    </a>
  {% endif %}
  {% if pratica.servizio.legacy or pratica.status == constant('\\App\\Entity\\Pratica::STATUS_DRAFT') %}
    <a class="btn btn-success mb-4 w-100" data-action="edit_draft"
       href="{{ path('pratiche_compila', {'pratica': pratica.id}) }}">
      <i class="fa fa-arrow-circle-right"></i>
      {{ 'pratica.vai_alla_pratica'|trans }}
    </a>
  {% endif %}
{% endif %}
{% if can_withdraw %}
  <a class="btn btn-danger mb-4 w-100 mt-3"
     onclick="return confirm(translate_ritiro_pratica);"
     href="{{ path('pratiche_withdraw', {'pratica': pratica.id}) }}">
    <i class="fa fa-times" aria-hidden="true"></i>
    {{ 'pratica.ritira_la_pratica'|trans }}
  </a>
{% endif %}
