{% set ente = instance_service.getCurrentInstance() %}

{% if pratica.servizio.isProtocolRequired or pratica.numeroProtocollo %}
    {% if pratica.numeroProtocollo %}
        <div>
            <div>
                <h5 class="primary">
                    {{ 'operatori.fascicolo' | trans }} <code>{{ pratica.numeroFascicolo }}</code>
                    {% if pratica.codiceFascicolo %}<span class="badge badge-light text-decoration-none">{{ pratica.codiceFascicolo }}</span>
                    {% endif %}
                </h5>
            </div>
        </div>
        <div class="mt-5">
            <div>
                <h5>{{ 'operatori.documenti' | trans }}</h5>
            </div>
            <div class="collapse-div" role="tablist">
                <!-- Compiled module -->
                <div class="collapse-header" id="protocol_compiled_module">
                    <button data-toggle="collapse" data-target="#collapse_compiled_module" aria-expanded="false"
                            aria-controls="collapse_compiled_module">
                        <div class="row">
                            <div class="col-8">{{ 'operatori.richiesta' | trans }}</div>
                            <div class="col-4">
                                <div class="chip float-right">
                                    <svg class="icon icon-xs">
                                        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-arrow-left"></use>
                                    </svg>
                                    <span class="chip-label">{{ 'operatori.protocollo_arrivo' | trans }}</span>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div id="collapse_compiled_module" class="collapse" role="tabpanel"
                     aria-labelledby="protocol_compiled_module">
                    <div class="collapse-body">
                        <div class="d-flex justify-content-between my-2">
                            <div class="font-weight-semibold">{{ 'operatori.id_documento' | trans }}</div>
                            <div><code>{{ pratica.idDocumentoProtocollo }}</code></div>
                        </div>
                        <div class="d-flex justify-content-between my-2">
                            <div class="font-weight-semibold">{{ 'operatori.numero_protocollo' | trans }}</div>
                            <div><span class="badge badge-light text-decoration-none">{{ pratica.numeroProtocollo }}</span></div>
                        </div>
                        {% if pratica.protocolTime %}
                            <div class="d-flex justify-content-between my-2">
                                <div class="font-weight-semibold">{{ 'operatori.data_protocollo' | trans }}</div>
                                <div>
                                    {{ pratica.protocolTime|format_date( locale=app.request.locale) }} {{ 'pratica.dettaglio.alle'|trans }} {{ pratica.protocolTime|format_time(pattern='HH:mm:ss', locale=app.request.locale) }}
                                </div>
                            </div>
                        {% endif %}
                        {% if module_protocols | length > 0 %}
                            <div class="my-2">
                                <div class="font-weight-semibold">{{ 'operatori.allegati' | trans }}</div>
                                <ul>
                                    {% for attachment in module_protocols %}
                                        <li>
                                            <span class="badge badge-light text-decoration-none">{{ attachment['protocollo'] }}</span>
                                            <span class="small">{{ attachment['allegato'].originalFilename }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!-- Messages -->
                {% if pratica.messages | length > 0 %}
                    <div class="collapse-header" id="protocol_messages">
                        <button data-toggle="collapse" data-target="#collapse_messages" aria-expanded="false"
                                aria-controls="collapse_messages">
                            <div class="row">
                                <div class="col-8">{{ 'operatori.messaggi.titolo' | trans }}</div>
                            </div>
                        </button>
                    </div>
                    <div id="collapse_messages" class="collapse" role="tabpanel" aria-labelledby="protocol_messages">
                        <div class="collapse-body">
                            <div id="collapse_messages_detail" class="collapse-div" role="tablist">
                                {% for message in pratica.messages %}
                                    {% if message.isProtocolRequired or message.protocolNumber %}
                                        <div class="collapse-header" id="heading_{{ loop.index0 }}">
                                            <button data-toggle="collapse" data-target="#collapse_{{ loop.index0 }}"
                                                    aria-expanded="false"
                                                    aria-controls="collapse_{{ loop.index0 }}">
                                                <div class="row">
                                                    <div class="col-8">
                                                        {% if message.author %}{{ message.author.fullName }}{% else %}{{ ente.name }}{% endif %}
                                                        - <small>{{ message.createdAt|date("d/m/Y H:m") }}</small>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="chip float-right">
                                                            {% if message.author == pratica.user %}
                                                                <svg class="icon icon-xs">
                                                                    <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-arrow-left"></use>
                                                                </svg>
                                                                <span class="chip-label">{{ 'operatori.protocollo_arrivo' | trans }}</span>
                                                            {% else %}
                                                                <svg class="icon icon-xs">
                                                                    <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
                                                                </svg>
                                                                <span class="chip-label">{{ 'operatori.protocollo_partenza' | trans }}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    {% if message.subject %}
                                                    <div class="col-12">
                                                        <small class="text-500">{{ message.subject }}</small>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </button>
                                        </div>
                                        <div id="collapse_{{ loop.index0 }}" class="collapse" role="tabpanel"
                                             aria-labelledby="heading_{{ loop.index0 }}">
                                            <div class="collapse-body">
                                                {% if message.protocolNumber %}
                                                    <div class="d-flex justify-content-between my-2">
                                                        <div class="font-weight-semibold">{{ 'operatori.numero_protocollo' | trans }}</div>
                                                        <div><span class="badge badge-light text-decoration-none">{{ message.protocolNumber }}</span></div>
                                                    </div>
                                                    {% if message.protocolledAt %}
                                                        <div class="d-flex justify-content-between my-2">
                                                            <div class="font-weight-semibold">{{ 'operatori.data_protocollo' | trans }}</div>
                                                            <div>
                                                                {{ message.protocolledAt|format_date( locale=app.request.locale) }} {{ 'pratica.dettaglio.alle'|trans }} {{ message.protocolledAt|format_time(pattern='HH:mm:ss', locale=app.request.locale) }}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {% if message.attachments | length > 0 %}
                                                        <div>
                                                            <div class="font-weight-semibold">{{ 'operatori.allegati' | trans }}</div>
                                                            <ul>
                                                                {% for attachment in message.attachments %}
                                                                    <li>
                                                                        <span class="badge badge-light text-decoration-none">{{ attachment.numeroProtocollo }}</span>
                                                                        <span class="small">{{ attachment.originalFilename }}</span>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    {% endif %}
                                                {% else %}
                                                    <div class="text-center font-italic">{{ 'operatori.attesa_modulo_protocollato' | trans }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- Outcome -->
                {% if pratica.rispostaOperatore %}
                    <div class="collapse-header" id="protocol_outcome">
                        <button data-toggle="collapse" data-target="#collapse_outcome" aria-expanded="false"
                                aria-controls="collapse_outcome">
                            <div class="row">
                                <div class="col-8">{{ 'operatori.esito' | trans }}</div>
                                <div class="col-4">
                                    <div class="chip float-right">
                                        <svg class="icon icon-xs">
                                            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
                                        </svg>
                                        <span class="chip-label">{{ 'operatori.protocollo_partenza' | trans }}</span>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div id="collapse_outcome" class="collapse" role="tabpanel" aria-labelledby="protocol_outcome">
                        <div class="collapse-body">
                            {% if pratica.rispostaOperatore.numeroProtocollo %}
                                <div class="d-flex justify-content-between my-2">
                                    <div class="font-weight-semibold">{{ 'operatori.id_documento' | trans }}</div>
                                    <div><code>{{ pratica.rispostaOperatore.idDocumentoProtocollo }}</code></div>
                                </div>
                                <div class="d-flex justify-content-between my-2">
                                    <div class="font-weight-semibold">{{ 'operatori.numero_protocollo' | trans }}</div>
                                    <div><span class="badge badge-light text-decoration-none">{{ pratica.rispostaOperatore.numeroProtocollo }}</span></div>
                                </div>
                                {% if pratica.rispostaOperatore.protocolTime %}
                                    <div class="d-flex justify-content-between my-2">
                                        <div class="font-weight-semibold">{{ 'operatori.data_protocollo' | trans }}</div>
                                        <div>
                                            {{ pratica.rispostaOperatore.protocolTime|format_date( locale=app.request.locale) }} {{ 'pratica.dettaglio.alle'|trans }} {{ pratica.rispostaOperatore.protocolTime|format_time(pattern='HH:mm:ss', locale=app.request.locale) }}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if outcome_protocols | length > 0 %}
                                    <div class="my-2">
                                        <div class="font-weight-semibold">{{ 'operatori.allegati' | trans }}</div>
                                        <ul>
                                            {% for attachment in outcome_protocols %}
                                                <li>
                                                    <span class="badge badge-light text-decoration-none">{{ attachment['protocollo'] }}</span>
                                                    <span class="small">{{ attachment['allegato'].originalFilename }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="text-center font-italic">{{ 'operatori.attesa_modulo_protocollato' | trans }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="text-center font-italic">{{ 'operatori.attesa_modulo_protocollato' | trans }}</div>
    {% endif %}
{% else %}
    <div class="text-center font-italic">{{ 'operatori.protocollo_non_previsto' | trans }}</div>
{% endif %}
