<div class="card-wrapper card-teaser-wrapper">
{% for key, meetings in incoming_meetings %}
  <h5 class="my-3 title-card-wrapper" >
    <a href="{{ path('operatori_calendar_show', {'calendar': meetings[0].calendar.id}) }}">
      {{ key }}
    </a>
  </h5>
    {% for meeting in meetings %}
      <div class="card border-bottom-card shadow w-100 my-2 no-after">
        <div class="card-body">
          <div class="head-tags mb-2">
          <span class="data text-monospace font-weight-semibold text-primary font-lg text-secondary">
              {{ meeting.fromTime | date('d') }} {{ ('calendars.opening_hours.months.short.' ~ (meeting.fromTime | date('M'))) | trans }} {{ meeting.fromTime | date('Y') }}
          </span>
            <span class="data text-monospace">
              {{ meeting.fromTime | format_time(pattern='HH:mm', locale=app.request.locale) }} - {{ meeting.toTime | format_time(pattern='HH:mm', locale=app.request.locale) }}
          </span>
          </div>
          <div class="card-text">
            {% if meeting.videoconferenceLink %}
              <a href="{{ meeting.videoconferenceLink }}" target="_blank">
                {{ 'meetings.meeting_link' | trans }} <svg class="icon icon-sm icon-primary">
                  <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-video"></use>
                </svg>
              </a>
            {% endif %}
            {% if meeting.userMessage %}
              <p class="my-2 font-italic">{{ meeting.userMessage }}</p>
            {% endif %}

            {% if meeting.status == constant('\\App\\Entity\\Meeting::STATUS_PENDING') %}
              <small>
                <svg class="icon icon-sm icon-warning">
                  <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-warning-circle"></use>
                </svg>
                {{ 'meetings.status.pending' | trans }}
              </small>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
{% endfor %}
</div>
