{% extends 'Default/index.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block main_content %}
  <section id="intro" class="container px-4 my-4">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <h1>{{ 'calendars.update_meeting' | trans }}</h1>
      </div>
      <div class="col-lg-12 px-lg-4 py-lg-2 mt-4">
        <div class="card-text">
          <div class="row">
            <div class="col-3"><b>{{ 'general.nome' | trans }}</b></div>
            <div class="col-6">{{ meeting.name }}</div>
          </div>
          <div class="row">
            <div class="col-3"><b>{{ 'date' | trans }}</b></div>
            <div class="col-6">{{ meeting.fromTime | format_date( locale=app.request.locale) }}</div>
          </div>
          <div class="row">
            <div class="col-3"><b>{{ 'time.hour'  | trans}}</b></div>
            <div class="col-6">{{ meeting.fromTime | format_time(pattern='HH:mm', locale=app.request.locale) }}</div>
          </div>
          <div class="row">
            <div class="col-3"><b>{{ 'calendars.detail' | trans }}</b></div>
            <div class="col-6">{{ meeting.userMessage }}</div>
          </div>
          <div class="row">
            <div class="col-3"><b>{{ 'general.email' | trans }}</b></div>
            <div class="col-6">{% if meeting.email %}{{ meeting.email }}{% else %}---{% endif %}</div>
          </div>
          <div class="row">
            <div class="col-3"><b>{{ 'meetings.labels.phone_number' | trans }}</b></div>
            <div class="col-6">{% if meeting.phoneNumber %}{{ meeting.phoneNumber }}{% else %}---{% endif %}</div>
          </div>
          <div class="row">
            <div class="col-3"><b>{{ 'general.stato' | trans }}</b></div>
            <div class="col-6">
              {% if meeting.status == 0 %}
                {{ 'meetings.legend.pending' | trans }}
              {% elseif meeting.status == 1 %}
                {{ 'meetings.status.approved' | trans }}
              {% elseif meeting.status == 2 %}
                {{ 'meetings.status.refused' | trans }}
              {% elseif meeting.status == 3 %}
                {{ 'meetings.status.missed' | trans }}
              {% elseif meeting.status == 4 %}
                {{ 'meetings.status.completed' | trans }}
              {% elseif meeting.status == 5 %}
                {{ 'meetings.status.cancelled' | trans }}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="mt-5">
          {% if form %}
            {{ form_start(form) }}
            {{ form_widget(form.approve) }}
            {{ form_widget(form.refuse) }}
            {{ form_widget(form.cancel) }}
            <a class="btn btn-200 btn-sm float-right"
               href="{{ path('operatori_calendar_show', { 'calendar': meeting.calendar.id }) }}">{{ 'calendars.go_calendar' | trans }}</a>
            {{ form_end(form) }}
          {% else %}
            <a class="btn btn-200 btn-sm float-right"
               href="{{ path('operatori_calendar_show', { 'calendar': meeting.calendar.id }) }}">{{ 'calendars.go_calendar' | trans }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
