{% extends 'Default/backend.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_script_tags('calendar-manager') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_link_tags('calendar-manager') }}
{% endblock %}

{% block main_content %}
  <section id="intro" class="container px-4 my-4">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        {% if calendar.title %}
          <h2> {{ 'calendars.update_calendar' | trans() }} - {{ calendar.title }}</h2>
        {% else %}
          <h2>{{ 'calendars.new' | trans() }}</h2>
        {% endif %}
      </div>

      <div class="col-lg-12 px-lg-4 py-lg-2 mt-4">

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <ul class="nav nav-tabs" id="calendarTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link  active" id="general-data-tab" data-toggle="tab"
               href="#general-data" role="tab" aria-controls="general-data-tab"
               aria-selected="true"><i class="fa fa-file-o mr-1"></i> {{ 'operatori.dati_generali'|trans }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="advanced-settings-tab" data-toggle="tab" href="#advanced-settings" role="tab"
               aria-controls="advanced-settings-tab"
               aria-selected="false"><i class="fa fa-sliders mr-1"></i> {{ 'operatori.advanced_settings'|trans }}</a>
          </li>
        </ul>

        <div class="tab-content" id="calendarTabContent">
          <div class="tab-pane p-3 fade show active" id="general-data" role="tabpanel" aria-labelledby="general-data-tab">
            {{ form_row(form.title) }}

            {% if feature('feature_calendar_type') %}
              {{ form_row(form.type) }}
            {% endif %}


            <div class="row {% if not calendar.title %}d-none{% endif %}">
              <div class="col-lg-10 col-md-9">
                {{ form_row(form.id) }}
              </div>
              <div class="col-lg-2 col-md-3 align-self-end">
                <div class="ml-2 form-group float-md-right">
                  <button class="btn btn-sm btn-primary clone">
                    <svg class="icon icon-sm icon-light">
                      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-copy"></use>
                    </svg>
                    <span>{{ 'copy_id' | trans }}</span>
                  </button>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6">{{ form_row(form.owner) }}</div>
              <div class="col-md-6">{{ form_row(form.contact_email) }}</div>
            </div>

            {{ form_row(form.location) }}

            <div class="row">
              <div class="col-12 col-md-6">{{ form_row(form.is_moderated) }}</div>
              <div class="col-12 col-md-6">
                {% if feature('feature_overlapped_opening_hours') %}
                  {{ form_row(form.allow_overlaps) }}
                {% endif %}
              </div>
            </div>

            <div class="form-group">
              <label>{{ 'calendars.moderators' | trans() }}</label>
              {{ form_row(form.moderators) }}
            </div>

            {{ include('Calendars/parts/calendarExternalCalendars.html.twig') }}
            {{ include('Calendars/parts/calendarOpeningHours.html.twig') }}
            {{ include('Calendars/parts/calendarClosingPeriods.html.twig') }}

            <div class="form-group m-0 p-0">
              <label for="App_calendar_rolling_days">{{ 'calendars.rolling_days.label' | trans() }}</label>
            </div>
            <div class="row">
              <div class="col-auto align-self-center"><p>{{ 'calendars.rolling_days.text_before' | trans() }}</p></div>
              <div class="col-2">{{ form_row(form.rolling_days, {'attr': {'class': 'text-center'}}) }}</div>
              <div class="col-auto align-self-center"><p>{{ 'calendars.rolling_days.text_after' | trans() }}</p></div>
            </div>

            <div class="form-group m-0 p-0">
              <label for="App_calendar_rolling_days">{{ 'calendars.allow_cancel_days.label' | trans() }}</label>
            </div>
            <div class="row">
              <div class="col-auto align-self-center"><p>{{ 'calendars.allow_cancel_days.text_before' | trans() }}</p></div>
              <div class="col-2">{{ form_row(form.allow_cancel_days, {'attr': {'class': 'text-center'}}) }}</div>
              <div class="col-auto align-self-center"><p>{{ 'calendars.allow_cancel_days.text_after' | trans() }}</p></div>
            </div>

            {{ form_row(form.minimum_scheduling_notice) }}

            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  {{ form_label(form.drafts_duration) }}
                  {{ form_widget(form.drafts_duration) }}
                  <p class="small form-text text-muted">{{ 'calendars.drafts_duration.description' | trans() }}</p>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="form-group">
                  {{ form_label(form.drafts_duration_increment) }}
                  {{ form_widget(form.drafts_duration_increment) }}
                  <p class="small form-text text-muted">{{ 'calendars.drafts_duration_increment.description' | trans() }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane p-3 fade" id="advanced-settings" role="tabpanel" aria-labelledby="advanced-settings-tab">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  {{ form_label(form.codeGenerationStrategy) }}
                  {{ form_widget(form.codeGenerationStrategy) }}
                </div>
              </div>
            </div>

            <fieldset>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <div class="form-check">
                      <input type="checkbox" id="enable-reservation-limits" class="form-check-input" value="1"
                             {% if calendar.reservationLimits %}checked="checked"{% endif %}>
                      <label class="form-check-label" for="enable-reservation-limits">{{ 'calendars.reservation_limits.enable_limits' | trans }}</label>
                    </div>
                    <p class="small form-text text-muted">{{ 'calendars.reservation_limits.description' | trans() }}</p>
                  </div>
                </div>

                <div id="reservation-limits-container" class="col-12">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        {{ form_label(form.reservationLimits.max_meetings_per_interval) }}
                        {{ form_widget(form.reservationLimits.max_meetings_per_interval) }}
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        {{ form_label(form.reservationLimits.interval) }}
                        {{ form_widget(form.reservationLimits.interval) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>

            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  {{ form_label(form.disableNotifications) }}
                  {{ form_widget(form.disableNotifications) }}
                  <p class="small form-text text-muted">{{ 'calendars.disable_notifications_help' | trans() }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-6">
            <input class="btn btn-primary mr-1" type="submit" value="{{ 'salva' | trans }}"/>
          </div>
          <div class="col-6 text-right">
            <a class="btn btn-100 mr-1"
               href="{{ path('operatori_calendars_index') }}">{{ 'gruppo_di_servizi.torna_alla_lista' | trans }}</a>
          </div>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </section>
{% endblock %}
