<div class="row">

  {% for openingHour in calendar.openingHours %}
    <div class="col-12 mb-3">
      <div class="card card-teaser rounded shadow">
        <svg class="icon icon-sm">
          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-calendar"></use>
        </svg>
        <div class="card-body">
          <h5 class="card-title">
            {{ 'calendars.opening_hours.begin_hour' | trans }}
          </h5>
          <div class="card-text">
            <p>
              {{ 'from_date' | trans}} {{ openingHour.startDate | format_date( locale=app.request.locale) }}
              {{ 'from_to' | trans}} {{ openingHour.endDate | format_date( locale=app.request.locale) }}
            </p>
            <p>{{ 'every' | trans}} {% for weekDay in openingHour.daysOfWeek %}
                {# Punctuation and separators#}
                {% if loop.last and not loop.first %} e
                {% elseif not loop.first and not loop.last %},
                {% endif %}
                {# Week days translation #}
                {{ ('calendars.opening_hours.weeks.week_day_' ~ weekDay) | trans }}
              {% endfor %}
            </p>
            <p>
              {{ 'from_time' | trans}} {{ 'time.hours' | trans}} {{ openingHour.beginHour | format_time(pattern='HH:mm', locale=app.request.locale) }} {{ 'calendar_formio.to' | trans}}
              {{ 'time.hours' | trans}} {{ openingHour.endHour | format_time(pattern='HH:mm', locale=app.request.locale) }}
            </p>
            <br>
            <p>{{ 'meetings.every_meetings' | trans}} {{ openingHour.meetingMinutes }} {{ 'time.minutes' | trans }}</p>
            {% if openingHour.meetingQueue == 1 %}
              <p>{{ 'meetings.one_person' | trans }}</p>
            {% else %}
              <p>{{ 'meetings.one_person_max' | trans}} {{ openingHour.meetingQueue }}
                {{ 'meetings.people_same_time' | trans }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="col-12 mb-3">
    <div class="card card-teaser shadow rounded">
      <svg class="icon icon-sm">
        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-pa"></use>
      </svg>
      <div class="card-body">
        <h5 class="card-title">
          {{ 'meetings.meeting_place' | trans }}
        </h5>
        <div class="card-text">
          <p>{{ calendar.location | raw }}</p>
          {% if calendar.contactEmail %}
            <p>{{ 'meetings.contact' | trans }}: <a href="mailto:{{ calendar.contactEmail }}">{{ calendar.contactEmail }}</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mb-3">
    <div class="card card-teaser shadow rounded">
      <svg class="icon icon-sm icon-danger">
        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close-circle"></use>
      </svg>
      <div class="card-body">
        <h5 class="card-title text-danger">
          {{ 'cancel_info' | trans }}
        </h5>
        <div class="card-text">
          <p>{{ 'meetings.min_cancel' | trans}} {{ calendar.allowCancelDays }} {{ 'meetings.days_to_date' | trans }}</p>

        </div>
      </div>
    </div>
  </div>
</div>
