{% extends 'Default/index.html.twig' %}
{% block title %}{{ pratica.servizio.name }} - Stanza del cittadino{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('compile') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('compile') }}
  {{ encore_entry_script_tags('landing') }}
{% endblock %}

{% block main_content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">

        {% if pratica.servizio.receipt == constant('RECEIPT_F24', pratica.servizio) %}
          {{ include('Pratiche/parts/landing/_f24.html.twig') }}
        {% elseif pratica.servizio.paymentRequired == 1 %}
          {% if pratica.paymentType == constant('App\\Payment\\Gateway\\MyPay::IDENTIFIER') %}
            {{ include('Pratiche/parts/landing/_payment_mypayV1.html.twig') }}
          {% else %}
            {{ include('Pratiche/parts/landing/_payment.html.twig') }}
          {% endif %}
        {% else %}
          {{ include('Pratiche/parts/landing/_general.html.twig') }}
        {% endif %}

        {% if pratica.servizio.finalIndications and pratica.status >= 1900 and pratica.status <= 3000 %}
          <div class="col-12 py-lg-2">
            <div class="alert alert-info">
              {{ pratica.servizio.finalIndications | raw }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    {% if pratica.meetings.count > 0 %}
      {{ include('Pratiche/parts/_meeting.html.twig', {'meeting': pratica.meetings.getValues()[0], 'servizio': pratica.servizio}) }}
    {% else %}
      {{ include('Pratiche/parts/_general.html.twig', {'servizio': servizio, 'servizi_correlati': servizi_correlati}) }}
    {% endif %}
  </div>

  {{ include('Servizi/parts/_feedback.html.twig', {'type': 'thanks', 'service_id': pratica.servizio.id}) }}
  {{ include('Servizi/parts/_contacts.html.twig') }}

{% endblock %}

