{% extends 'Default/index.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
{% endblock %}
{% block main_content %}

  <section class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 py-lg-2">
        <h3>{{ document.title }}</h3>
        <p>{{ document.description }}</p>
      </div>

      <div class="col-12 col-lg-10 py-lg-2 my-5">
        <div class="row p-3">
          <div class="col-10 text-truncate">
            {% if document.recipientType == 'tenant' %}
              <svg class="icon mr-4">
                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-file"></use>
              </svg>
            {% else %}
              <svg class="icon mr-4">
                <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-clip"></use>
              </svg>
            {% endif %}
            {{ document.originalFilename }}
          </div>
          <div class="col-2">
            <div class="float-right">
              <a id="downloadDocument"
                 href="{{ path('document_download_cpsuser', {'folder':document.folder, 'document': document}) }}"
                 download>
                <svg class="icon icon-primary">
                  <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <table id="folders_table" class="table border-bottom">
          <tr>
            <td><strong>{{ 'documenti.documento.data_creazione' | trans }}</strong></td>
            <td>{{ document.createdAt | format_date( locale=app.request.locale) }}</td>
          </tr>
          <tr>
            <td><strong>{{ 'documenti.documento.disponibilità' | trans }}</strong></td>
            <td>{{ 'documenti.documento.disponibile_fino_a' | trans({'%expire_at%':document.validityEnd | format_date( locale=app.request.locale)}) | raw }}</td>
          </tr>
          {% if document.validityEnd %}
            <tr>
              <td><strong>{{ 'documenti.documento.validità' | trans }}</strong></td>
              <td>
                {% if  document.validityEnd > date('now') %}
                  {{ 'documenti.documento.valido_da_a' | trans({
                    '%validity_begin%':document.validityBegin | format_date( locale=app.request.locale),
                    '%validity_end%':document.validityEnd | format_date( locale=app.request.locale)
                  }) | raw }}
                {% else %}
                  {{ 'documenti.documento.scaduto' | trans({
                    '%validity_end%':document.validityEnd | format_date( locale=app.request.locale)
                  }) | raw }}
                  {% if document.correlatedServices|length > 0 %}
                    {{ 'documenti.documento.rinnova' | trans | raw }}
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endif %}
          <tr>
            <td class="align-middle"><strong>{{ 'documenti.servizi_correlati' | trans }}</strong></td>
            <td>
              {% if  document.correlatedServices|length == 0 %}
                <i>{{ 'documenti.documento.no_servizi_correlati' | trans }}</i>
              {% else %}
                {% for service in document.correlatedServices %}
                  <div><a href="{{ path('servizi_show', {'slug': service.slug}) }}">{{ service.name }}</div>
                {% endfor %}
              {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
{% endblock %}

