{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block header %}
  <a id="logo" href="https://gitlab.com/opencity-labs/area-personale/core">
    <img src="{{ asset('api-logo.png') }}" alt="OpenCity Italia - Area Personale">
  </a>
{% endblock header %}
