{% extends 'Default/index.html.twig' %}
{% block title %}{{ 'nav.servizi'|trans() }} - Stanza del cittadino{% endblock %}
{% block main_content %}
  <section class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 py-lg-2">
        <div class="row pb-3 pb-lg-4">
          <div class="col-lg-8">
            <h1 data-element="page-name">{{ 'nav.servizi' | trans }}</h1>
            <div class="clearfix">
              <p>{{ 'servizio.sottotitolo' | trans }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ include('Servizi/parts/_exploreServices.html.twig', {'sticky': sticky, 'servizi': servizi, 'servizi_count': servizi_count}) }}
  {{ include('Servizi/parts/_exploreCategories.html.twig', {'topics': topics}) }}
  {{ include('Servizi/parts/_feedback.html.twig')}}
{% endblock %}
