{% if ente is not defined %}
  {% set ente = instance_service.getCurrentInstance() %}
{% endif %}
{% set logo = ente.getMetaAsArray('logo') %}
{% set customName = ente.getMetaAsArray('name') %}
{% set enteName = customName != '' ? customName :  ente.name %}
{% set locales = app_locales|split('|') %}
{% set main = ente.getMetaAsArray('main') %}
{% set topics = ente.topicsNav %}

<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Theme preview</title>
  {{ encore_entry_link_tags(options.theme) }}
</head>
<body>

<header class="it-header-wrapper it-header-sticky">
  <div class="it-header-slim-wrapper {% if options.light_top_header %}light{% endif %}">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">
            <a class="d-lg-block navbar-brand" >
              Lorem ipsum
            </a>

            <div class="header-slim-right-zone">
              {% if locales|length > 1 %}
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"  data-toggle="dropdown" aria-expanded="false">
                    <span>{{ app.request.locale|capitalize }}</span>
                    <svg class="icon d-none d-lg-block">
                      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                    </svg>
                  </a>
                  <div class="dropdown-menu">
                    <div class="row">
                      <div class="col-12">
                        <div class="link-list-wrapper">
                          <ul class="link-list">
                            {% for locale in locales %}
                              {% if locale is not empty %}
                                <li><a class="list-item" ><span>{{ locale|upper }}</span></a></li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}

              <div class="header-slim-right-zone">
                <div class="it-access-top-wrapper">
                  <a data-login-top-button="" class="btn btn-icon btn-full"  title="Esegui il login al sito" data-element="personal-area-login">
                    <span class="rounded-icon">
                    <svg class="icon icon-primary">
                      <use xlink:href="{{ asset('bootstrap-italia/dist/svg/sprite.svg#it-user') }}"></use>
                    </svg>
                    </span>
                    <span class="d-none d-lg-block login">{{ 'nav.header.access_my_area' | trans }}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="it-nav-wrapper">
    <div class="it-header-center-wrapper {% if options.light_center_header %}light{% endif %}">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="it-header-center-content-wrapper">
              <div class="it-brand-wrapper">
                <a >
                  {% if logo|default %}
                    <img class="icon" src="{{ logo }}" alt="{{ enteName }}"/>
                  {% else %}
                    <img class="icon" src="{{ asset('bundles/app/images/logo-default.png') }}" alt="{{ enteName }}"/>
                  {% endif %}
                  <div class="it-brand-text">
                    <h2 class="no_toc">{{ enteName }}</h2>
                  </div>
                </a>
              </div>
              <div class="it-right-zone">
                <div class="it-socials d-none d-md-flex">
                  <span>{{ 'general.follow_social' | trans }}</span>
                  <ul>
                    <li>
                      <a  aria-label="facebook">
                        <svg class="icon">
                          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-facebook"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="it-search-wrapper">
                  <span class="d-none d-md-block">{{ 'search.label' | trans }}</span>
                  <a class="search-link rounded-icon" >
                    <svg class="icon">
                      <use xlink:href="{{ asset('bootstrap-italia/dist/svg/sprite.svg#it-search') }}"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="it-header-navbar-wrapper {% if options.light_navbar_header %}light{% endif %}">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg has-megamenu">
              <button aria-controls="nav10" aria-expanded="false"
                      aria-label="Toggle navigation" class="custom-navbar-toggler"
                      data-target="#nav10" type="button">
                <svg class="icon">
                  <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-burger"></use>
                </svg>
              </button>
              <div class="navbar-collapsable" id="nav10">
                <div class="overlay"></div>
                <div class="close-div">
                  <button class="btn close-menu" type="button" data-focus-mouse="false">
                    <span class="it-close sr-only">close</span>
                    <svg class="icon">
                      <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-close-big"></use>
                    </svg>
                  </button>
                </div>
                <div class="menu-wrapper">
                  {% if main %}
                    <ul class="navbar-nav" data-element="main-navigation">
                      {% for item in main %}
                        {% if item.url|default and item.text|default %}
                          <li class="nav-item">
                            <a class="nav-link" {% if item.text|lower == 'nav.admin.servizi'|trans|lower  %}data-element="all-services"{% endif %} >{{ item.text }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  {% endif %}
                  {% if topics %}
                    <ul class="navbar-nav navbar-secondary">
                      {% for item in topics %}
                        <li class="nav-item">
                          {% if item.url|default and item.text|default %}
                            {% if item.text == 'all_topics' %}
                              <a data-element="all-topics" class="nav-link " >
                                <span class="font-weight-bold">{{ item.text | trans}}</span>
                              </a>
                            {% else %}
                              <a data-element="topic-element" class="nav-link" >{{ item.text }}</a>
                            {% endif %}
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <section id="intro" class="container px-4 my-4">
    <div class="row">
      <div class="col-12 px-lg-4 py-lg-2">
        <h2>Theme preview</h2>
      </div>
      <div class="col-lg-12 px-lg-4 py-lg-2 mt-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec scelerisque felis. Fusce nec viverra
          metus. Donec consectetur condimentum dolor ut vulputate. Donec mollis leo in lacus rhoncus, quis dignissim
          erat consequat. Morbi at pellentesque nibh. Nam congue justo quis magna suscipit, eu sollicitudin est auctor.
          </p>
      </div>
    </div>
  </section>
</main>
<footer class="it-footer">
  <div class="it-footer-main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="it-brand-wrapper">
            <a >
              {% if logo|default %}
                <img class="icon" src="{{ logo }}" alt="{{ enteName }}"/>
              {% else %}
                <img class="icon" src="{{ asset('bundles/app/images/logo-default.png') }}" alt="{{ enteName }}"/>
              {% endif %}
              <div class="it-brand-text">
                {% if ente %}
                  <h2 class="no_toc">{{ enteName }}</h2>
                {% endif %}
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9 mt-md-4 footer-items-wrapper">
          <h3 class="footer-heading-title">{{ 'steps.common.org_richiedente.contatti' | trans }}</h3>
          <div class="row">
            <div class="col-md-4">
              <p class="footer-info">
                {{ enteName }}<br>
                <a class="list-item" >Via roma, 00100 - Roma<br></a>
                {{ 'steps.common.org_richiedente.piva' | trans }}: 0000000000<br>
                {{ 'user.profile.codice_fiscale' | trans }} : 0000000000
              </p>
            </div>
            <div class="col-md-4">
              <ul class="footer-list p-0">
                <li><a  data-element="faq">{{ 'read_faq' | trans }}</a></li>
                <li><a  data-element="appointment-booking">{{ 'booking_appointment' | trans }}</a></li>
                <li><a  data-element="report-inefficiency">{{ 'report_inefficiency' | trans }}</a></li>
                <li><a >{{ 'request_assistance' | trans }}</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="footer-list p-0">
                <li><a  data-element="privacy-policy-link">{{ 'privacy_info' | trans }}</a></li>
                <li><a >{{ 'legal_notes' | trans }}</a></li>
                <li><a  data-element="accessibility-link">{{ 'accessibility' | trans }}</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-3 mt-md-4 footer-items-wrapper">
          <h3 class="footer-heading-title"><span>{{ 'general.follow_social' | trans }}</span></h3>
          <ul class="list-inline text-start social">
            <li class="list-inline-item">
              <a class="p-1 text-white"  aria-label="facebook">
                <svg class="icon icon-sm icon-white align-top">
                  <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-facebook"></use>
                </svg>
                <span class="sr-only">facebook</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-12 footer-items-wrapper">
          <div class="footer-bottom">
            <a >Api</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-secondary x-small mt-1 mb-1">
    <div class="row">
      <div class="col-12 text-right">
        © {{ 'now' | date('Y') }} {{ enteName }} {{ 'digital_services' | trans }}
        <a target="_blank"  title="OpenCity Italia">OpenCity Italia</a>
        <svg id="product-version" data-toggle="tooltip" data-html="false" class="icon icon-xs">
          <use href="/bootstrap-italia/dist/svg/sprite.svg#it-info-circle"></use>
        </svg>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
