{% extends 'Emails/base.html.twig' %}

{% block email_content %}
  <table align='center' bgcolor='#fff' border='0' cellpadding='0' cellspacing='0' id='backgroundTable'
         style='background: #fff;'>
    <tr>
      <td style="padding: 20px;line-height: 1.4;">
        {{ message | raw }}
      </td>
    </tr>
  </table>
  {# Se il numero di call to action è pari mostriamo due pulsanti per riga #}
  <table align='center' bgcolor='#fff' border='0' cellpadding='0' cellspacing='0' id='backgroundTable'
         style='background: #fff;'>
    {% if call_to_actions | length > 0 %}
      {% if call_to_actions | length > 2 %}
        <tr>
          {% for action in call_to_actions %}
            <td style="text-align:center;width:50%">
              <a class="btn btn-primary d-inline-block" style="margin: 10px 10% 10px 10%; display: inline-block;width: 150px;"
                 href="{{ action['link'] }}">{{ action['label'] | trans }}</a>
            </td>
            {% if loop.index % 2 == 0 %}
              </tr><tr>
            {% endif %}
          {% endfor %}
        </tr>
      {% else %}
        <tr>
          <td style="padding: 20px; text-align:center">
            {% for action in call_to_actions %}
              <a class="btn btn-primary d-inline-block" style="margin: 10px 10% 10px 10%; display: inline-block;width: 150px;"
                 href="{{ action['link'] }}">{{ action['label'] | trans }}</a>
            {% endfor %}
          </td>
        </tr>
      {% endif %}
    {% endif %}
  </table>
{% endblock %}
